html,
body,
#root {
	height: 100%;
	width: 100%;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eff2f5;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

.btn.loading.btn-lg:before {
	height: 4rem !important;
	width: 4rem !important;
}
